<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta charset="utf-8" />
<link rel="stylesheet"
	href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="//at.alicdn.com/t/font_1705138_1t955w0nd6j.css" />
<link rel="stylesheet"
	href="//at.alicdn.com/t/font_1705153_nnzk5xkpls.css" />
<link rel="stylesheet"
	href="//at.alicdn.com/t/font_1705151_s1d231humu.css" />
<link rel="stylesheet"
	href="//at.alicdn.com/t/font_1705161_5ic6k924u2k.css" />
<title>个人信息中心-修改密码</title>
</head>
<style type="text/css">
body, html {
	height: 100%;
}

.container-fluid {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #F4F6F8;
}

.navigation .breadcrumb {
	background-color: white;
	border: 1px solid #e7e7e7;
	border-radius: 0;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}
</style>

<body>
	<div class="container-fluid">
		<!--面包屑导航-->
		<div class="navigation">
			<ol class="breadcrumb">
				<li><span>个人信息中心</span></li>
				<li class="active"><a href="changePassword.html">修改密码</a></li>
			</ol>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal" id="edit_pwd_form">
					<div class="form-group">
						<label class="col-sm-offset-2 col-sm-2 control-label"><span
							class="iconfont icon-yonghuming"></span>用户名:</label>
						<div class="col-sm-4">
							<input type="text" th:value="${session.userName}" readonly="readonly"
								class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-offset-2 col-sm-2 control-label"><span
							class="iconfont icon-yuanmima"></span>原密码:</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="password" class="form-control"
									placeholder="请输入原密码..." name="oldPwd" required="required" nullmsg="请输入原密码！" datatype="*">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-eye-open"
											onmouseover="over(this);" onmouseout="out(this);"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-offset-2 col-sm-2 control-label"><span
							class="iconfont icon-xinmima"></span>新密码:</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="password" class="form-control"
									placeholder="请输入新密码..." name="newPwd" required="required" nullmsg="请输入新密码！" datatype="*">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-eye-open"
											onmouseover="over(this);" onmouseout="out(this);"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-offset-2 col-sm-2 control-label"><span
							class="iconfont icon-querenxinmima"></span>重复密码:</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="password" class="form-control"
									placeholder="请输入重复密码..." name="confirmPwd" required="required" nullmsg="请输入重复密码！" datatype="*" >
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-eye-open"
											onmouseover="over(this);" onmouseout="out(this);"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<button type="submit" class="btn btn-default" id="edit_pwd_btn">
								<span class="glyphicon glyphicon-pencil"></span>修改
							</button>
							<button type="button" onclick="reset()" class="btn btn-default">
								<span class="glyphicon glyphicon-refresh"></span>重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/validform.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript"
		src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script>
		//鼠标移入眼睛显示明文密码
		function over(ele) {
			$(ele).parents(".input-group").find("input").attr("type", "text");
			$(ele).removeClass("glyphicon-eye-open").addClass(
					"glyphicon-eye-close");
		}
		//鼠标移出眼睛显示闭文密码
		function out(ele) {
			$(ele).parents(".input-group").find("input").attr("type",
					"password");
			$(ele).removeClass("glyphicon-eye-close").addClass(
					"glyphicon-eye-open");
		}
		
		$("#edit_pwd_form").Validform({
			tiptype:2,
			callback:function(){
				$.post("updateUserPwd",$("#edit_pwd_form").serialize()).then(function(res){
					if(res.code === 200){
						alert("密码修改成功！");
						window.location.href = "changePassword";
					}else{
						alert(res.extend.error);
					}
				});
				return false;
			}
		});
	</script>
</body>

</html>