<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta charset="utf-8" />
<link rel="stylesheet"
	href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="//at.alicdn.com/t/font_1690494_263k4igoua4.css" />
<link rel="stylesheet"
	href="//at.alicdn.com/t/font_1648998_zqaf20d4ezr.css" />
<link rel="stylesheet"
	href="//at.alicdn.com/t/font_1648999_174564zlj3h.css" />
<link rel="stylesheet"
	href="//at.alicdn.com/t/font_1649008_bc85s1qq2yf.css" />
<link rel="stylesheet"
	href="//at.alicdn.com/t/font_1649000_v7egkzifdjn.css" />
<title>系统管理-用户管理</title>
</head>
<style type="text/css">
body, html {
	height: 100%;
}

.container-fluid {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #F4F6F8;
}

.navigation .breadcrumb {
	background-color: white;
	border: 1px solid #e7e7e7;
	border-radius: 0;
}

table th {
	text-align: center;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}
</style>

<body>
	<!-- 添加用户模态框 -->
	<div class="modal fade" tabindex="-1" role="dialog" id="addUserModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="iconfont icon-tianjiayonghu" style="font-size: 20px"></span>添加用户
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="add_user_form">
						<div class="form-group">
							<label class="col-sm-2 control-label">用户名</label>
							<div class="col-sm-10">
								<input type="text" name="userName" class="form-control"
									placeholder="用户名" required="required">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">密码</label>
							<div class="col-sm-10">
								<div class="input-group">
									<input type="password" class="form-control" placeholder="密码"
										name="userPwd" id="pass_word" required="required"> <span
										class="input-group-btn">
										<button class="btn btn-default" type="button">
											<span class="glyphicon glyphicon-eye-open" id="eye_open"></span>
										</button>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">用户角色</label>
							<div class="col-sm-4">
								<select class="form-control" name="userRoleId"
									id="user_role_select">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">是否启用</label>
							<div class="col-sm-10">
								<label class="radio-inline"> <input type="radio"
									name="userIsStart" checked="checked" value="是">是
								</label> <label class="radio-inline"> <input type="radio"
									name="userIsStart" value="否">否
								</label>
							</div>
						</div>
						<input name="userCreateTime" id="time_input" type="hidden" />
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<span class="iconfont icon-guanbi"></span>关闭
					</button>
					<button type="submit" class="btn btn-primary" form="add_user_form"
						id="user_add_btn">
						<span class="iconfont icon-baocun"></span>保存
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 修改用户模态框 -->
	<div class="modal fade" tabindex="-1" role="dialog"
		id="edit_user_modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="iconfont icon-xiugai"></span>修改用户
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="add_user_form">
						<div class="form-group">
							<label class="col-sm-2 control-label">用户名</label>
							<div class="col-sm-10">
								<input type="text" name="userName" class="form-control"
									id="user_name">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">用户角色</label>
							<div class="col-sm-4">
								<select class="form-control" name="userRoleId"
									id="edit_role_select">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">是否启用</label>
							<div class="col-sm-10">
								<label class="radio-inline"> <input type="radio"
									name="userIsStart" checked="checked" value="是">是
								</label> <label class="radio-inline"> <input type="radio"
									name="userIsStart" value="否">否
								</label>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<span class="iconfont icon-guanbi"></span>关闭
					</button>
					<button type="button" class="btn btn-primary" id="users_edit_btn">
						<i class="iconfont icon-bianji"></i>编辑
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<!--面包屑导航-->
		<div class="navigation">
			<ol class="breadcrumb">
				<li><span>系统管理</span></li>
				<li class="active"><a href="user.html">用户管理</a></li>
			</ol>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				用户名:<input type="text" placeholder="请输入查询的姓名" style="width: 135px;" id="serchUserName"
					/> 用户角色:<select style="height: 28px;" id="role_select">
					<option th:each="message:${role}" th:text="${message.type_name}"></option>
				</select>
				<button class="btn btn-info" id="selectByRole">
					<span class="glyphicon glyphicon-search"></span>查询
				</button>
				<button class="btn btn-danger pull-right" id="delete_all_btn">
					<span class="glyphicon glyphicon-trash"></span>删除
				</button>
				<button class="btn btn-primary pull-right"
					style="margin-right: 5px;" id="addUser">
					<span class="glyphicon glyphicon-plus-sign"></span>添加用户
				</button>
			</div>
			<input type="hidden" id="userRole" />
			<div class="panel-body" style="height: 418px">
				<table class="table table-hover text-center" id="user_table">
					<thead>
						<tr>
							<th><input type="checkbox" id="check_all" /></th>
							<th>序号</th>
							<th>用户名</th>
							<th>用户角色</th>
							<th>是否启用</th>
							<th>添加时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<!-- 分页信息 -->
				<div id="row">
					<!-- 分页文字信息 -->
					<div class="col-md-6" id="page_info_area"></div>
					<!-- 分页条信息 -->
					<div class="col-md-6">
						<nav aria-label="Page navigation" id="page_nav_area"></nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript"
		src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		//总记录数
		let totalRecord;
		//当前页
		let currentPage;

		let isClick = false;

		$(function() {
			to_page(1);
		});

		function to_page(pageNum) {
			$.get("users", "pageNumber=" + pageNum).then(function(res) {
				if (res.code === 200) {
					//1.解析显示员工数据
					build_informations_table(res);
					//2.解析显示分页信息
					build_page_info(res);
					//3.解析显示分页条信息
					build_page_nav(res);
				}
			});
		}

		//通过用户名查询
		$('#serchUserName').bind(
				'input propertychange',
				function() {
					$.get("users",
							"userName="+$(this).val())
							.then(function(res) {
								if (res.code === 200) {
									//1.解析显示员工数据
									build_informations_table(res);
									//2.解析显示分页信息
									build_page_info(res);
									//3.解析显示分页条信息
									build_page_nav(res);
								}
							});
				});
		
		$("#selectByRole").click(function(){
			isClick = true;
			let role = $("#role_select").val();
			query_roleName(1,role);
			$("#userRole").val(role);
		});
		
		function query_roleName(pageNum,role){
			$.get("users", "pageNumber=" + pageNum+"&"+"userRole="+role).then(function(res) {
				if (res.code === 200) {
					//1.解析显示员工数据
					build_informations_table(res);
					//2.解析显示分页信息
					build_page_info(res);
					//3.解析显示分页条信息
					build_page_nav(res);
				}
			});
		}

		//解析员工数据
		function build_informations_table(res) {
			$("#user_table tbody").empty();
			let userInfo = res.extend.pageInfo.list;
			$.each(userInfo, function(index, items) {
				let checkBox = $("<td></td>").append(
						"<input type='checkbox' class='check_item'/>");
				let id = $("<td></td>").append(items.id);
				let userName = $("<td></td>").append(items.userName);
				let userRole = $("<td></td>").append(items.userRole);
				let userIsStart = $("<td></td>").append(items.userIsStart);
				if (userIsStart.text() === "否") {
					userIsStart.css("color", "red");
				}
				let userCreateTime = $("<td></td>")
						.append(items.userCreateTime);
				let editBtn = $("<button></button>").addClass(
						"btn btn-primary btn-sm edit_btn").append(
						$("<span></span>")).addClass(
						"glyphicon glyphicon-pencil").append("编辑");
				//为编辑按钮添加一个自定义的属性，来表示当前员工id
				editBtn.attr("edit_id", items.id);
				let delBtn = $("<button></button>").addClass(
						"btn btn-danger btn-sm delete_btn").append(
						$("<span></span>")).addClass(
						"glyphicon glyphicon-trash").append("删除");
				//为删除按钮添加一个自定义属性，表示当前员工id
				delBtn.attr("delete_id", items.id);
				let btnTd = $("<td></td>").append(editBtn).append(" ").append(
						delBtn);
				$("<tr></tr>").append(checkBox).append(id).append(userName)
						.append(userRole).append(userIsStart).append(
								userCreateTime).append(btnTd).appendTo(
								"#user_table tbody");
			});
		}

		//2.解析分页信息
		function build_page_info(res) {
			$("#page_info_area").empty();
			$("#page_info_area").append(
					"当前第" + res.extend.pageInfo.pageNum + "页,共"
							+ res.extend.pageInfo.pages + "页,总"
							+ res.extend.pageInfo.total + "条记录");
			totalRecord = res.extend.pageInfo.pages;
			currentPage = res.extend.pageInfo.pageNum;
		}

		//3.解析分页条信息
		function build_page_nav(res) {
			$("#page_nav_area").empty();
			let ul = $("<ul></ul>").addClass("pagination navbar-right");
			//上一页
			let previous = $("<li></li>")
					.append($("<a></a>").append("&laquo;"));
			//判断是否还有上一页，没有就将链接禁用
			if (res.extend.pageInfo.hasPreviousPage === false) {
				previous.addClass("disabled");
			} else {
				previous.click(function() {
					if (isClick === false) {
						to_page(res.extend.pageInfo.pageNum - 1);
					} else {
						query_roleName(res.extend.pageInfo.pageNum - 1,$("#userRole").val());
					}

				});
			}
			ul.append(previous);

			//页码
			let navigatepageNums = res.extend.pageInfo.navigatepageNums;
			$.each(navigatepageNums, function(index, items) {
				let pageNumber = $("<li></li>").append(
						$("<a></a>").append(items));
				//判断当前页码是否等于分页条的页码
				if (res.extend.pageInfo.pageNum === items) {
					//给页码添加高亮
					pageNumber.addClass("active");
				}
				//给页码添加点击事件
				pageNumber.click(function() {
					if (isClick === false) {
						to_page(items);
					}else {
						query_roleName(items,$("#userRole").val());
					}
				});
				ul.append(pageNumber);
			});

			//下一页
			let next = $("<li></li>").append($("<a></a>").append("&raquo;"));
			//判断是否还有下一页，没有就将链接禁用
			if (res.extend.pageInfo.hasNextPage === false) {
				next.addClass("disabled");
			} else {
				next.click(function() {
					if (isClick === false) {
						to_page(res.extend.pageInfo.pageNum + 1);
					} else {
						query_roleName(res.extend.pageInfo.pageNum + 1,$("#userRole").val());
					}
				});
			}
			ul.append(next).appendTo("#page_nav_area");
		}

		//删除用户信息
		$(document).on("click", ".delete_btn", function() {
			let name = $(this).parents("tr").find("td:eq(2)").text();
			if (confirm("确认删除【" + name + "】的信息吗?")) {
				$.ajax({
					url : "deleteUser/" + $(this).attr("delete_id"),
					type : "DELETE",
					success : function(res) {
						if (res.code === 200) {
							if(isClick === false){
								to_page(currentPage);
							}else {
								query_roleName(currentPage,$("#userRole").val());
							}
							
						}
					}
				});
			}
		});

		//点击单选框全选
		$("#check_all").click(function() {
			$(".check_item").prop("checked", $(this).prop("checked"));
		});

		//给单选框绑定事件
		$(document)
				.on(
						"click",
						".check_item",
						function() {
							let flag = $(".check_item:checked").length === $(".check_item").length;
							$("#check_all").prop("checked", flag);
						});

		//批量删除
		$("#delete_all_btn").click(function() {
			let id = "";
			$.each($(".check_item:checked"), function() {
				id += $(this).parents("tr").find("td:eq(1)").text() + ",";
			});
			id = id.substring(0, id.length - 1);
			if (confirm("确认删除【" + id + "】号信息吗?")) {
				$.ajax({
					url : "batchDelUser/" + id,
					type : "DELETE",
					success : function(res) {
						if (res.code === 200) {
							if(isClick === false){
								to_page(currentPage);
							}else {
								query_roleName(currentPage,$("#userRole").val());
							}
							
							$("#check_all").prop("checked", false);
						}
					}
				});
			}
		});

		//鼠标移入眼睛显示明文密码
		$("#eye_open").mouseover(
				function() {
					$("#pass_word").attr("type", "text");
					$("#eye_open").removeClass("glyphicon-eye-open").addClass(
							"glyphicon-eye-close");
				});

		//鼠标移出眼睛显示闭文密码
		$("#eye_open").mouseout(
				function() {
					$("#pass_word").attr("type", "password");
					$("#eye_open").removeClass("glyphicon-eye-close").addClass(
							"glyphicon-eye-open");
				});

		//查询角色类型
		function selectRoleName(ele) {
			$(ele).empty();
			$.get("roleTypeName").then(
					function(res) {
						if (res.code === 200) {
							//$("#user_role_select").empty();
							$.each(res.extend.roleName, function() {
								let optionEle = $("<option></option>").append(
										this.type_name).attr("value", this.id);
								optionEle.appendTo(ele);
							});
						}
					});
		}

		//打开添加用户模态框
		$("#addUser").click(function() {
			let time = new Date();
			//清空表单数据
			$("#addUserModal form")[0].reset();
			selectRoleName("#user_role_select");
			$("#time_input").val(time);
			$("#addUserModal").modal({
				backdrop : "static"
			});
		});

		//点击保存添加用户
		$("#add_user_form").submit(
				function() {
					$.post("addUser", $("#addUserModal form").serialize())
							.then(function(res) {
								if (res.code === 200) {
									$("#addUserModal").modal("hide");
									if(isClick === false){
										to_page(totalRecord);
									}else {
										query_roleName(totalRecord,$("#userRole").val());
									}
								}
							});
					return false;
				});

		//通过id查询数据
		function getUsersInfoById(id) {
			$.get("getUserInfo", "id=" + id).then(
					function(res) {
						if (res.code === 200) {
							let userInfo = res.extend.userInfo;
							$("#user_name").val(userInfo[0].userName);
							$("#edit_role_select").val(
									[ userInfo[0].userRoleId ]);
							$("#edit_user_modal input[name=userIsStart]").val(
									[ userInfo[0].userIsStart ]);
						}
					});
		}

		//点击编辑打开模态框
		$(document).on("click", ".edit_btn", function() {
			//清空表单数据
			$("#edit_user_modal form")[0].reset();
			selectRoleName("#edit_role_select");
			getUsersInfoById($(this).attr("edit_id"));
			$("#users_edit_btn").attr("edit_btn_id", $(this).attr("edit_id"));
			$("#edit_user_modal").modal({
				backdrop : "static"
			});
		});

		//点击修改
		$("#users_edit_btn").click(function() {
			$.ajax({
				url : "updateUsers/" + $(this).attr("edit_btn_id"),
				type : "PUT",
				data : $("#edit_user_modal form").serialize(),
				success : function(res) {
					if (res.code === 200) {
						$("#edit_user_modal").modal("hide");
						if(isClick === false){
							to_page(currentPage);
						}else {
							query_roleName(currentPage,$("#userRole").val());
						}
						
					}
				}
			});
		});
	</script>
</body>

</html>