<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduationDesign.dao.AuthorityMapper">
	<select id="getModules" resultType="Map">
		select * from pm_module_table
	</select>

	<select id="getModuleIdStrByRoleType" resultType="String">
		select
		module_id from pm_authority_management where user_role_id = #{roleId}
	</select>

	<select id="getModuleIds" resultType="Integer">
		select id from pm_module_table where id in
		<foreach collection="list" item="item" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</select>

	<update id="editModuleIdByRoleType">
		update pm_authority_management set module_id =
		#{moduleIdStr} where user_role_id = #{roleId}
	</update>
</mapper>